# Main Config
[user]
	name = Noah Gitsham
	email = nhgitsham@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[merge]
	tool = nvimdiff

# Custom aliases
[alias]
	g = log --graph
	l = log --oneline


# Github
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
