# Main Config
[user]
	name = Noah Gitsham
	email = nhgitsham@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true

# Github
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential

# School Config
[includeIF "gitdir:~/uni"]
	path = .gitconfig-uni
