[user]
	name = Noah Gitsham
	email = nhgitsham@gmail.com
[core]
	editor = nvim
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
